@model VentaOnline.Models.ViewModels.SubCategoriaViewModel

@{
    ViewData["Title"] = "Editar SubCategoría";
}

<br />
<br />
<h3 class="text-center">Editar SubCategoría</h3>
<form method="POST" asp-action="Edit">
    <!--Se envía el ID como campo oculto-->
    <input type="hidden" asp-for="Id" />

    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="col-10 offset-1 mt-4">

            <div class="form-group row">
                <div class="col-4">
                    @* <label for="Cajero">Cajero</label> *@
                    <label asp-for="CategoriaId"></label>
                </div>
                <div class="col-8">

                    @*  @Html.DropDownListFor(m => m.CajeroId, Model.ListaCajeros, "-Por favor seleccione un cajero-", new { @class = "form-control" }) *@

                    <select asp-for="CategoriaId" id="dropCategoria" class="form-control">
                        <option value="">Por favor, seleccione una categoría</option>
                        @foreach (var item in Model.ListaCategorias)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>

                </div>
            </div>
            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Nombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Nombre" class="form-control" placeholder="Ingresa el Nombre de la Subcategoría" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="form-group-row">
                <div class="col-8">
                    <partial name="_VistaEditarVolver" />
                </div>
            </div>

            <br />

        </div>

    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}




